<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File server</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
    <div id="loader">
        <img src="../assets/logo.png" alt="">
    </div>
    <div>
        <ul class="field is-grouped">
            <li class="control">
                <input class="input is-primary" type="text" id="path-input">
            </li>
            <li>
                <button class="button is-size is-info" id="openDirectoryDialogue">Choose</button>
            </li>
        </ul>
        <p class="text-info has-text-dark">The directory is hosted on "<a id="port-display"></a>"</p>
        <p class="text-info has-text-dark">The directory can be accessed on this and other devices on "<a id="remote-display"></a>"</p>
    </div>

    <div id="author">
        <p class="has-text-info">@0m0g1</p>
    </div>

    <script defer src="../render.js"></script>
</body>
</html>