<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fileserver0</title>
    <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body>
    <ul id="directories">
        <% directory.subdirectories.forEach(dir => { %>
            <li><a href="http://<%= directory.ip %>:<%= directory.port %>/<%= dir.path %>"><%= dir.name %></a></li>
        <% }) %>
    </ul>
</body>
</html>